body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#status {
  text-align: center;
  min-height: 20px;
}

body.theme-light {
  background-color: #f9f9f9;
  color: #333;
}

body.theme-dark {
  background-color: #222;
  color: #eee;
}

#theme-dropdown {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

#theme-dropdown li {
  cursor: pointer;
  padding: 5px;
}
